<?xml version="1.0"?>
<gz-gui>
  <plugin filename="MinimalScene" name="3D View">
    <gz-gui>
      <title>3D View</title>
      <property type="bool" key="showTitleBar">false</property>
      <property type="string" key="state">docked</property>
    </gz-gui>
    <engine>ogre2</engine>
    <scene>scene</scene>
    <ambient_light>0.7 0.7 0.7</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>-6.7 0 9.0 0 1.5708 0</camera_pose>
  </plugin>

  <plugin filename="GzSceneManager" name="Scene Manager">
    <gz-gui>
      <property key="resizable" type="bool">false</property>
      <property key="width" type="double">5</property>
      <property key="height" type="double">5</property>
      <property key="state" type="string">floating</property>
      <property key="showTitleBar" type="bool">false</property>
    </gz-gui>
  </plugin>

  <plugin filename="InteractiveViewControl" name="Interactive view control">
    <gz-gui>
      <property key="resizable" type="bool">false</property>
      <property key="width" type="double">5</property>
      <property key="height" type="double">5</property>
      <property key="state" type="string">floating</property>
      <property key="showTitleBar" type="bool">false</property>
    </gz-gui>
  </plugin>

  <plugin filename="MarkerManager" name="Marker manager">
    <gz-gui>
      <property key="resizable" type="bool">false</property>
      <property key="width" type="double">5</property>
      <property key="height" type="double">5</property>
      <property key="state" type="string">floating</property>
      <property key="showTitleBar" type="bool">false</property>
    </gz-gui>
  </plugin>
</gz-gui>
